.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 1px solid #f0f0f0e6;
  padding: 3px;
  border-radius: 5px;
}
.container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.searchIcon{
    color: #00000040;
}
.sortBy{
    color: #00000040
}
.searchInput{
    width:100%;
    padding-left: 1%;
}
.movieDetails{
    text-align: left;
}
.default{
    min-height: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto;
}